---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Social Media Demo">
    <main id="content">
        <section>
            <ul>
                <h2>React application: Social Media</h2>

                This project is a social media application created for my Full Stack Dervelopment class. It makes use of
                React and the Chakra UI components library. This was a pat of a major project for the class, where 1-2
                people worked together to create a website. It was split up into two parts, first creating only the
                frontend, and the second adding to the frontend and creating a fully fleshed backend using ExpressJS
                NodeJS for the server, and Sequelize as the ORM. There also was a admin dashboard, which made use of
                GraphQL, and was separate from the main program. Only the frontend is shown in the demo, however, with
                modifications to use localstorage instead of a backend.

                <br />
                <br />
                <a href="https://allitoth2706.github.io/social-site">Link to demo</a>
            </ul>
        </section>
    </main>
</Layout>
