---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Precision Electronics">
    <main id="content">
        <section>
            <ul>
                Precision Electronics is a business based in the nrothern suburbs of Melbourne. As a freelancer I worked
                with my friend Jed to help create a website for them, to have a place on the internet and to let
                potential clients be able to see what they are.

                <br /><br />Link to live website yet to be added.
            </ul>
        </section>
    </main>
</Layout>
