body {
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
}
.question{
  font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
  font-family: sans-serif;
  font-size: 20px;
  background-color: #279;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
#submit:hover{
  background-color: #38a;
}  

label[id^=option] {
    padding-left: 1rem;
    font-size: 18px;
}

label {
    padding-right: 0.5rem;
}

:root {
	font-family: arial, sans-serif;
	--table-height: 2rem;
	--table-width: 18%;
}

.main {
	display: flex;
}

table,
th,
td {
	border: 1px solid black;
}

th,
td {
	height: 2rem;
}

table {
	border-collapse: collapse;
	width: 100%;
}

.timetable {
	position: relative;
	z-index: -1;
	align-self: flex-end;
	flex: 70%;
	margin-right: 2%;
}

.options {
	flex: auto;
	align-items: center;
	margin-left: 2%;
}

div.times {
	width: var(--table-width);
	position: absolute;
	z-index: 1;
	opacity: 90%;
	border-radius: 10px;
	text-align: center;
	padding: 10px 5px;
	box-sizing: border-box;
	font-weight: bold;
}

h1 {
	text-align: center;
}
