---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Portfolio Website">
    <main>
        <section>
            <ul>
                This website. Uses astro and svelte for the majority of components. Link at
                https://github.com/allitoth2706/allitoth2706.github.io Currently being hosted on Github Pages
            </ul>
        </section>
    </main>
</Layout>
