---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Typewriter from '../components/Typewriter.svelte';
---

<Layout title="Welcome to Astro.">
    <!-- TODO: maybe add loading to this page -->
    <main>
        <!-- https://codepen.io/argyleink/pen/yLovWjz css -->
        <section>
            <ul>
                <Typewriter client:only text="Hi, I'm Alli." />
                <p></p>
                todo: maybe add some sort of graphic of me, MAYYYYBE a photo
            </ul>
        </section>

        <section>
            <ul>
                <h1>About me</h1>
                info + education
            </ul>
        </section>

        <section>
            <ul>
                <h1>Skills</h1>
                todo: add something here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio vero beatae tempore
                aperiam cum enim deleniti, fugit illo consectetur sit nemo laborum quos ea culpa dolores, reiciendis deserunt
                distinctio facilis! Veritatis ipsa optio tempora, excepturi voluptates voluptas ex expedita natus maiores
                repudiandae deleniti, nihil molestias ullam beatae quae itaque dolores cum sequi. Alias odio earum accusantium
                ab vel minima, repellendus amet ex, nulla itaque rem eveniet quisquam nihil sunt aliquid repudiandae nisi
                eos perferendis consequatur omnis quis quam praesentium? Accusantium, pariatur? Minima, nobis provident repellat
                adipisci commodi error nihil? Fuga magnam recusandae reprehenderit adipisci perferendis eum dolorum voluptatum
                quos. Temporibus.
            </ul>
        </section>

        <section>
            <div>
                <h1>Projects</h1>
                <ul role="list" class="link-card-grid">
                    <Card
                        href="dog/"
                        title="Dog Breed Demo"
                        body="React Demonstration of collecting data of dog breeds."
                    />
                    <Card
                        href="social/"
                        title="Social Media Demo"
                        body="React Demonstraction of a social media website."
                    />
                    <Card href="dog/" title="dummy" body="React Demonstration of collecting data of dog breeds." />
                    <Card href="social/" title="dummy" body="React Demonstraction of a social media website." />
                </ul>
            </div>
        </section>

        <section>
            <h1>Contact</h1>
        </section>

        <!-- <section>
            <ul role="list" class="link-card-grid">
                <Card
                    href="https://docs.astro.build/"
                    title="Documentation"
                    body="Learn how Astro works and explore the official API docs."
                />
                <Card
                    href="https://astro.build/integrations/"
                    title="Integrations"
                    body="Supercharge your project with new frameworks and libraries."
                />
                <Card
                    href="https://astro.build/themes/"
                    title="Themes"
                    body="Explore a galaxy of community-built starter themes."
                />
                <Card
                    href="https://astro.build/chat/"
                    title="Community"
                    body="Come say hi to our amazing Discord community. ❤️"
                />
            </ul>
        </section> -->
    </main>
</Layout>
