---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import Typewriter from '../components/Typewriter.svelte';
---

<Layout title="Welcome to Astro.">
    <!-- TODO: maybe add loading to this page -->
    <main>
        <!-- https://codepen.io/argyleink/pen/yLovWjz css -->
        <section>
            <ul>
                <Typewriter client:only text="Hi, I'm Alli." />
                <p></p>
                 todo: maybe add some sort of graphic of me, MAYYYYBE a photo
            </ul>
        </section>

        <section>
            <ul>
                <h1>About me</h1>
                 info + education
            </ul>
        </section>

        <section>
            <ul>
                <h1>Skills</h1>
                 todo: add something here
            </ul>
        </section>

        <section>
            <ul>
                <h1>Projects</h1>
                <a href="dog/">dog</a>
                <a href="lan/">lan</a>
                 todo: 2x2 column
            </ul>
        </section>

        <section>
            <h1>Contact</h1>
        </section>

        <!-- <ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul> -->
    </main>
</Layout>

<style>
    html,
    body,
    main section {
        block-size: 100%;
    }

    main {
        margin: auto;
        color: white;
        font-size: 20px;
        line-height: 1.6;
        display: initial;
    }

    body {
        width: 800px;
        max-width: calc(100% - 2rem);
        margin: auto;
    }

    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
        padding: 1.5rem;
        border-radius: 8px;
    }
    .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }
    .instructions strong {
        color: rgb(var(--accent-light));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }

    html {
        scroll-snap-type: y mandatory;
    }

    section {
        scroll-snap-align: start;
        scroll-snap-stop: always;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* section:nth-of-type(even) {
	color: white;
	background: black;
	} */

    /* section:nth-of-type(odd) {
	color: black;
	background: white;
	} */
</style>
