---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Dog Breeds Demo">
    <main>
        <section>
            <ul>
                <h2>React application: Dog Breeds</h2>

                This project was origianlly made for my Full Stack Development class, in which we had a final assessment
                to create a page relating to dog breeds. The application is a SPA (Single-Page Application) created
                using React and the Chakra UI component library. The application takes user infromation, and outputs it
                onto a different page for confirmation, and then saves the information into localstorage. For the
                purpose of the demo, all routing has been changed into a memory router.

                <br />
                <br />
                <a href="demo">Link to demo</a>
            </ul>
        </section>
    </main>
    <!-- TODO: Add copywrite about what this is and why it exists -->
</Layout>
