---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Dog Breeds Demo">
    <main id="content">
        <section>
            <ul>
                <h2>React application: Dog Breeds</h2>
                This project uses: JavaScript, React, Chakra UI.
                <br />
                <br />
                This project was origianlly made for my Full Stack Development class, in which we had a final assessment
                to create a page relating to dog breeds. The application takes user infromation, and outputs it onto a different
                page for confirmation, and then saves the information into localstorage. Although it is rather simplistic,
                the assignment was to create a specific design of a webpage with a time limit.
                <br />
                <br />
                Note: this demonstration has modified the code to make it work with Astro, and to use a memory router rather
                than the usual browser router.

                <br />
                <br />
                <a href="demo">Link to demo</a>
            </ul>
        </section>
    </main>
    <!-- TODO: Add copywrite about what this is and why it exists -->
</Layout>
