<p>
    <i>Tech based:</i><br />I have a degree from RMIT University in Computer Science, where I both dabbled and worked on
    multiple web and mobile based projects, both for professors as the clients, and for actual clients. This lead me to
    finding how passionate I am for front-end development.<br /><br /><i>Personal life:</i><br />I grew up on the
    Mornington Peninsula coast, having an enjoyment for gaming, anime, and linguistics. I excelled in mathematics and
    science during school, and eventually found my way to programming and computer science.
</p>
