---
interface Props {
    name: string;
}

const { name } = Astro.props;
---

<div
    class="skill inline-flex appearance-none align-middle justify-center select-none relative whitespace-nowrap items-center mb-5 mr-2.5 px-4 bg-gray-100 text-black text-lg h-10 mw-10 rounded-md outline-2 outline-offset-2 outline outline-transparent leading-tight font-semibold"
>
    {name}
</div>
