---
interface Props {
    title: string;
    body: string;
    href: string;
}

const { href, title, body } = Astro.props;
---

<li
    class="link-card flex p-px bg-zinc-800 bg-none from-purple-500 via-purple-300 to-white via-30% to-60% text-white hover:text-purple-300 focus-within:text-purple-300"
>
    <a href={href} class="w-full bg-zinc-800 rounded-lg opacity-80 leading-normal p-6">
        <h3 class="m-0 leading-normal font-bold text-inherit">
            {title}
            <span>&rarr;</span>
        </h3>
        <p class="mt-5 mb-0 text-white">
            {body}
        </p>
    </a>
</li>
<style>
    .link-card {
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        background-position: 100%;
        background-size: 400%;
        border-radius: 7px;
    }

    h2 {
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }

    .link-card:is(:hover, :focus-within) {
        /* --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%); */
        background-position: 0;
        background-image: linear-gradient(45deg, var(--tw-gradient-stops));
    }
</style>
