---
interface Props {
    id: string;
    classes?: string;
}

const { id, classes } = Astro.props;
---

<section id={id} class=`${classes} h-screen snap-start snap-always flex items-center justify-center mx-4`>
    <slot />
</section>
